/* 모바일 기준 w440 */
html {scroll-behavior: smooth;}/* 스크롤 애니메이션 효과 */
body {background-color: #222;}
#wrap {
    width: 440px;/* 디자인 기준 크기(iphone 17proMax) */
    min-width: 320px;/* 최소 제한 너비(고정) */
    max-width: 440px;/* 최대 제한 너비(디자인에 따라 다름) */
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    background-color: #fff;
    margin: 0 auto;
    overflow-x: hidden;/* x축 나간요소와 가로스크롤 숨기기 */
    height: 100vh;
}
/* 스크롤바 디자인 */
/* Firefox */
html {scrollbar-width: 10px; scrollbar-color: #222 #888;}
/* Opera */
html::-o-scrollbar {width: 10px;}
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}
/* ===========================================================1. intro */
#wrap .intro {
    height: 100vh;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 166, 64, 0.8) 0%,
        rgba(255, 166, 64, 0.4) 50%,
        rgba(255, 166, 64, 0.2) 80%,
        rgba(255, 166, 64, 0.1) 130%
        );
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
#wrap .intro h1 {}
#wrap .intro h1 span {
    display: block; text-align: center;
    line-height: 1.7;
}
#wrap .intro h1 span:nth-child(1) {font-size: 1.13rem;}
#wrap .intro h1 span:nth-child(2) {
    font-size: 1.25rem; font-weight: 600;
    margin-bottom: 20px;
}
#wrap .intro h1 .name {}
#wrap .intro h1 .name img {}
/* ===========================================================2. info */
#wrap .info {
    height: 100vh; display: flex;
    flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
#wrap .info .photo {
    width: 195px; height: 195px; border-radius: 15px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
}
#wrap .info .photo img {width: 100%;}
#wrap .info .me {
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
    margin-bottom: 40px;
}
#wrap .info .me .name_birth {
    display: flex; flex-flow: row nowrap; gap: 30px;
}
#wrap .info .me li {margin-bottom: 10px; line-height: 1.5;}
#wrap .info .me li a {border-bottom: 1px solid #000;}
#wrap .info h2 {
    font-size: 1.25rem; font-weight: 700;
    margin-bottom: 20px;
}
#wrap .info .skill_list {
    padding: 0 15px;
    display: flex; flex-flow: row wrap;
    gap: 12px; justify-content: center;
}
#wrap .info .skill_list p {
    margin: 0 0 6px; width: calc(100% / 6 - (12 * 6));
}
#wrap .info .skill_list p img {width: 100%;}
/* ===========================================================3. project */
#wrap .project_wrap {}
#wrap .project_wrap h1 {
    font-size: 1.13rem;
    text-align: center;
    padding: 60px 0;
}
/* ===========================================================공통 프로젝트 선택자 */
#wrap .project_wrap .project {padding: 0 15px 70px;}
#wrap .project_wrap .project h2 {
    font-size: 1.13rem; font-weight: 600;
    margin-bottom: 10px; line-height: 1.5;
}
#wrap .project_wrap .project h2 span {font-weight: 600; color: #FFA640;}
#wrap .project_wrap .project .mockup {}
#wrap .project_wrap .project .mockup img {width: 100%;}
#wrap .project_wrap .project .info_box {
    margin: 15px 0 30px; font-size: 0.88rem;
}
#wrap .project_wrap .project .info_box li {
    line-height: 1.7;
    position: relative; padding-left: 15px;}
#wrap .project_wrap .project .info_box li::before {
    content: ''; display: block;
    width: 4px; height: 4px; 
    position: absolute; left: 0; top: 50%; transform: translateY(-50%);
    background-color: #222; border-radius: 50%;
}
/* #wrap .project_wrap .project .info_box li:nth-child(3)::before {top:20%} -> 2줄*/
#wrap .project_wrap .project .info_box li span {font-weight: 600;}
#wrap .project_wrap .project .plan {
    font-size: 0.88rem; line-height: 1.7;
    margin-bottom: 30px;
}
#wrap .project_wrap .project .link {text-align: center;}
#wrap .project_wrap .project .link a {
    color: #fff;
    display: inline-block;
    padding: 12px 22px;
    border-radius: 12px;
    font-size: 1.13rem; font-weight: 500;
}
#wrap .project_wrap .project .link .proposal {
    background-color: #FFA640; margin-right: 10px;
}
#wrap .project_wrap .project .link .proposal:hover{
    background-color: #ff8800;
}
#wrap .project_wrap .project .link .prototype {
    background-color: #555;
}
#wrap .project_wrap .project .link .prototype:hover {
    background-color: #000;
}
/* ===========================================================개별 프로젝트 선택자 */
#wrap .project_wrap .project1 {}